@use '@material/button/mixins' as mdc-button;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Yeseva+One&display=swap');

$background: #faf9f6;
$foreground_gray: #2b2b2b;
$dark_teal: #114d5f;
$med_teal: #8fd7e0;
$light_teal: #d2f3f7;
$dark_yellow: #9b810b;
$light_yellow: #fbe093;

* {
    padding: 0;
    margin: 0;
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Disable horizontal scroll
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2 {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Yeseva One', serif;
  padding: 20px;
}

h1 { color: $light-yellow; }

h2 { color: $dark-yellow; }

h3 { color: $dark-teal }

h4, h5, h6 {
    color: $dark-teal;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
}

a, a:visited, button, p, span  {
  color: $foreground_gray;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: $background;
}
a:visited {
  color: $light-yellow;
}

.tab-content{
    padding: 10px;
    margin: 0 auto;
    background: $background;
  }

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    display: inline;
    background-color: #faf9f6;
    // border-radius: 5px;
    // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    h3 {
        text-align: center;
    }
}

.card:nth-of-type(1){
    flex: 1 300px;
}

.card:nth-of-type(2){
    flex: 1 300px;
}

.chart {
    justify-content: center;
    height: 50vh;
    width: 100%;
    max-width: 600px;
}

p {
    padding: 20px;
}
 
.button-shaped-round {
    @include mdc-button.shape-radius(100%);
}

.text-img-container {
    display: flex;
    align-items: center;
      justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.text-with-img {
    display: inline;
    justify-content: center;
    flex: 1 300px;
}

.img-with-text {
    img {
        max-width: 85vw;
        max-height: 50vh;
    }
    padding: 2vh 2vh 2vh 0vh;
}

.mdc-dialog .mdc-dialog__surface {
    background-color: $background !important;
}